<div class="card mb-0" *ngIf="!loading">
    <h1 class="text-center mt-3">{{ episode?.title }}</h1>
    <h3 class="text-center">{{ episode?.title_japanese }}</h3>
    <p>{{ episode?.synopsis }}</p>
    <p>
        <span class="font-bold">Published : </span
        >{{ episode?.aired | date : "dd/MM/yyyy" }}
    </p>
    <p>
        <span class="font-bold">Duration : </span
        >{{ episode?.duration }} seconds
    </p>

    <p-button
        label="Back to anime"
        styleClass="p-button-link"
        [routerLink]="['/anime', idAnime]"
    >
    </p-button>
</div>
<div class="text-center" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>
